<mat-tab-group color="accent" backgroundColor="accent" mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4" (selectedTabChange)="detectTabChange($event)">
  <mat-tab label="Home">
    <h1>Overview</h1>
    <p>This site will demonstrate various libraries integrated in this app, along with angular material to style the app and use the components provided by material.</p>
  </mat-tab>

  <mat-tab label="PrimeNg">
    <primeng-demo></primeng-demo>
  </mat-tab>

  <mat-tab label="D3 charts demo">
    <ng-template matTabContent>
        <d3-demo></d3-demo>
    </ng-template>
  </mat-tab>

  <mat-tab label="Nodejs API demo">
    <h1>Some more content here guys, keep tuned!

      pending stuff - 

      styling at its best
      animations
    </h1>
    <p>...</p>
  </mat-tab>

</mat-tab-group>

